<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Meal Recommendation</title>
    <style>
        body{
            font-family:Calibri, sans-serif;
        }
        div.fooditem{
            margin:auto;
            width:30%;
            padding: 15px;
            border: 5px solid burlywood;
            border-radius: 20px;
        }
        p.smallfonts{
            font-size:10px;
        }
        .textcenter{
            text-align: center
        }
    </style>
</head>
<body>
    <div class="fooditem">
        <h2 class="textcenter">Hello there! Today's Meal Recommendation</h2>
        <h3 class="textcenter">Try {{ food_name }} for a price of {{ price }}</h3> 
    </div>
</body>
</html>